<div class="center padded white-bg">
    <div class="content padded">
        <div class="padded">
            <h1>Algunos proyectos que e construido</h1>
        </div>
        <div class="row">
             <div class="card third">
                 <h3>Mailer app</h3>
                 <p>Aplicacion que envia correos y los muestra en una bandeja de correos enviados utilizando la "API" de sendgrid</p>
                 <a href="#" class="orange"">Link aqui</a>
             </div>   
             <div class="card third">
                 <h3>Gestor de clientes</h3>
                 <p>Aplicacion para gestionar mis clientes</p><br><br>
                 <a href="{{ url_for('static',filename='libretas-clientes.exe') }}" class="orange"">Link aqui</a>
             </div>   
             <div class="card third">
                 <h3>Gestor de tareas</h3>
                 <p>Aplicacion para gestionar mis tareas     </p><br><br>
                 <a href="{{ url_for('static', filename='db.exe') }}" class="orange"">Link aqui</a>
             </div>   
        </div>
    </div>
</div>