<div class="center">
    <div class="content ">
        <div class="row vert-pad">
            <div class="left padded">
                <h1>Desarrollo aplicaciones y sitios webs personalizados</h1>
                <p>Siempre me encuentro desarrollando y actualizando con las mejores tecnologias.Esta web fue desarrollada con python y flask</p>
            </div>
            <div class="right padded">
                <h1>Me pueden contactar cuando quieras</h1>
                <p>Solo enviame un correo <a href="#contacto" class="orange">Pinchando aqui</a></p>
                
            </div>
        </div>
    </div>
</div>